<head>
  <script src="static/jquery.min.js"></script>
  <script src="static/socket.io.min.js"></script>
  <script></script>
</head>

<body style="padding: 0px; margin: 0px;">
  <div id='div-0' style="display: inline-block; padding: 5px;">
    <img src="{{ url_for('video_feed', com=0) }}" width="720px" height="720px" id='img-0'>
  </div><div id='div-2' style="display: inline-block; padding: 5px;">
    <img src="{{ url_for('video_feed', com=2) }}" width="720px" height="720px" id='img-2'><br>
  </div><br>
  
  <button id="send-dicom">发送图片</button>
  <script>

$(document).ready(()=>{
  let IOIMAGE = io('/');
  let SELECTED = 0;

  for (let persp of [0, 2]) {
    $(`#div-${persp}`).on('click', (e) => {
      for (let p of [0, 2]) {
        $(`#div-${p}`).css({ 'backgroundColor': 'white' })
      }
      
      $(`#div-${persp}`).css({ 'backgroundColor': 'yellow' })
      SELECTED = parseInt(persp)
    })
  }

  $('#send-dicom').on('click', (e)=>{
    IOIMAGE.emit('snapshot', {'com': SELECTED}, (answer)=>{ console.log(answer) })
  })
})


  </script>
</body>


<footer></footer>
