<head>
  <script src="static/jquery.min.js"></script>
  <script src="static/socket.io.min.js"></script>
  <script></script>
</head>

<body style="padding: 0px; margin: 0px;">
  <div style="display: inline-block; padding: 5px;">
    <img src="{{ url_for('video_feed', com=2) }}" width="512" height="512" id='img-2'>
  </div><div style="display: inline-block; padding: 5px;">
    <img src="{{ url_for('video_feed', com=3) }}" width="512" height="512" id='img-3'><br>
  </div><br>
  
  <button id="send-dicom">发送图片</button>
  <script>

$(document).ready(()=>{
  let IOIMAGE = io('/');
  let SELECTED = 2;

  $('img').on('click', function() {
    $('div').css({'background-color': 'white'})

    this.parentElement.style.backgroundColor = 'yellow'

    SELECTED = this.id == 'img-2' ? 2 : 3
  })

  $('#send-dicom').on('click', (e)=>{
    console.log(SELECTED)

    IOIMAGE.emit('snapshot', {'com': SELECTED}, (answer)=>{ console.log(answer) })
  })
})


  </script>
</body>


<footer></footer>
